<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <title>Tonpay best payment system on Telegram .</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <link href="static/css/css2.css" rel="stylesheet">

    <meta id="theme-check" name="theme-color" content="#FFFFFF">

    <body class="theme-dark" onload="init(0)">
        <div id="preloader">
            <div class="spinner-border color-highlight" role="status"></div>
        </div>

        <div id="page">


            <!-- FOOTER HERE  -->
            <div id="footer-bar" class="footer-bar-1 footer-bar-detached">
                <a onclick="router_to_wallet()"><i class="bi bi-wallet2"></i><span>Wallets</span></a>
                <a onclick="router_to_index()" class="circle-nav-2"><i class="bi bi-house-fill"></i><span>Home</span></a>
                <a onclick="router_to_payment()"><i class="bi bi-receipt"></i><span>Payments</span></a>
            </div>
            <!-- FOOTER OVER -->
            <div class="page-content my-0 py-0">
                <div class="card bg-5 card-fixed">
                    <div class="card-center mx-3 px-4 py-4 bg-white rounded-m">
                        <h1 style="color: black;"> ❎ 404 ... Page not found ❎ </h1>
                        <a onclick="router_to_index()" class="btn btn-full gradient-highlight shadow-bg shadow-bg-s mt-4">Back to menu</a>
                    </div>
                    <div class="card-overlay rounded-0 m-0 bg-black opacity-70"></div>
                </div>
            </div>



        </div>

        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/custom.js"></script>
        <script src="static/js/utils/router.js"></script>
    </body>
</head>

</html>