<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <title>Tonpay best payment system on Telegram .</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <link href="static/css/css2.css" rel="stylesheet">

    <meta id="theme-check" name="theme-color" content="#FFFFFF">

    <body class="theme-dark">
        <div id="preloader">
            <div class="spinner-border color-highlight" role="status"></div>
        </div>

        <div id="page">

            <!-- FOOTER HERE  -->
            <div id="footer-bar" class="footer-bar-1 footer-bar-detached">
                <a onclick="router_to_wallet()"><i class="bi bi-wallet2"></i><span>Wallets</span></a>
                <a onclick="router_to_index()" class="circle-nav-2"><i class="bi bi-house-fill"></i><span>Home</span></a>
                <a onclick="router_to_payment()"><i class="bi bi-receipt"></i><span>Payments</span></a>
            </div>
            <!-- FOOTER OVER -->

            <div class="page-content footer-clear">

                <div class="pt-3">
                    <div class="page-title d-flex">
                        <div class="align-self-center me-auto">
                            <p class="color-highlight">Tonspay</p>
                            <h1 class="color-theme">Payments</h1>
                        </div>
                        <div class="align-self-center ms-auto">




                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <!-- <div class="col-6 mb-n2">
                        <a href="page-invoices.html" class="card card-style ms-0" style="height:180px">
                            <div class="card-center">
                                <span class="icon icon-xl rounded-m gradient-orange shadow-bg shadow-bg-xs"><i class="bi bi-receipt font-24 color-white"></i></span>
                                <h1 class="font-22 pt-3">Pay Invoice</h1>
                            </div>
                            <div class="card-bottom">
                                <p class="font-11 mb-0 opacity-70">Pay an invoice</p>
                            </div>
                        </a>
                    </div> -->
                    <div class="col-6 mb-n2">
                        <a href="https://wallet.tonspay.top/page-invoices.html#tab-5" class="card card-style me-0" style="height:180px">
                            <div class="card-center">
                                <span class="icon icon-xl rounded-m gradient-yellow shadow-bg shadow-bg-xs"><i class="bi bi-arrow-down-circle font-24 color-white"></i></span>
                                <h1 class="font-22 pt-3">New Invoice</h1>
                            </div>
                            <div class="card-bottom">
                                <p class="font-11 mb-0 opacity-70">Generate an invoice </p>
                            </div>
                        </a>
                    </div>
                    <!-- <div class="col-6 mb-n2">
                        <a href="page-payment-exchange.html" class="card card-style me-0" style="height:180px">
                            <div class="card-center">
                                <span class="icon icon-xl rounded-m gradient-green shadow-bg shadow-bg-xs"><i class="bi bi-arrow-clockwise font-24 color-white"></i></span>
                                <h1 class="font-22 pt-3">Pay Methods</h1>
                            </div>
                            <div class="card-bottom">
                                <p class="font-11 mb-0 opacity-70">Manage payment methods</p>
                            </div>
                        </a>
                    </div> -->
                    <div class="col-6 mb-n2">
                        <a href="page-payment-transfer.html" class="card card-style ms-0" style="height:180px">
                            <div class="card-center">
                                <span class="icon icon-xl rounded-m gradient-blue shadow-bg shadow-bg-xs"><i class="bi bi-arrow-up-circle font-24 color-white"></i></span>
                                <h1 class="font-22 pt-3">Cash Gift</h1>
                            </div>
                            <div class="card-bottom">
                                <p class="font-11 mb-0 opacity-70">Send out a cash gift</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 mb-n2 text-start">
                        <a href="page-reports.html" class="default-link card card-style" style="height:90px">
                            <div class="card-center px-4">
                                <div class="d-flex">
                                    <div class="align-self-center">
                                        <span class="icon icon-m rounded-s gradient-brown shadow-bg shadow-bg-xs"><i class="bi bi-bar-chart font-20 color-white"></i></span>
                                    </div>
                                    <div class="align-self-center ps-3 ms-1">
                                        <h1 class="font-20 mb-n1">Account Reports</h1>
                                        <p class="mb-0 font-12 opacity-70">See your Payment Statistics.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>




            <div id="menu-sidebar" data-menu-active="nav-pages" data-menu-load="menu-sidebar.html" class="offcanvas offcanvas-start offcanvas-detached rounded-m">
            </div>

            <div id="menu-highlights" data-menu-load="menu-highlights.html" class="offcanvas offcanvas-bottom offcanvas-detached rounded-m">
            </div>

            <div id="menu-notifications" data-menu-load="menu-notifications.html" class="offcanvas offcanvas-top offcanvas-detached rounded-m">
            </div>
        </div>

        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/custom.js"></script>

        <!-- Telegram -->
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <script src="https://unpkg.com/@tonconnect/sdk@latest/dist/tonconnect-sdk.min.js"></script>
        <!-- main js  -->
        <script src="static/js/utils/api.js"></script>
        <script src="static/js/utils/storage.js"></script>
        <script src="static/js/utils/tg.js"></script>
        <script src="static/js/utils/deeplink.js"></script>
        <script src="static/js/pages/index.js"></script>
        <script src="static/js/pages/wallet.js"></script>
        <script src="static/js/main.js"></script>

        <!-- Init Trigger -->
        <script>
            init(2)
        </script>
    </body>
</head>

</html>