<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <title>Tonpay Cash Gift !</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">


    <!-- *JS NACL -->
    <script type="text/javascript" src='../static/js/utils/nacl/nacl-fast.js'></script>
    <script type="text/javascript" src='../static/js/utils/nacl/test.js'></script>
    <script type="text/javascript" src='../static/js/utils/nacl/tweetnacl.js'></script>

    <link href="../static/css/css2.css" rel="stylesheet">

    <meta id="theme-check" name="theme-color" content="#FFFFFF">

    <body class="theme-dark" onload="gift_page_init()">
        <div id="preloader">
            <div class="spinner-border color-highlight" role="status"></div>
        </div>

        <div id="page">

            <!-- FOOTER HERE  -->
            <div id="footer-bar" class="footer-bar-1 footer-bar-detached">
                <a onclick="router_to_wallet()"><i class="bi bi-wallet2"></i><span>Wallets</span></a>
                <a onclick="router_to_index()" class="circle-nav-2"><i class="bi bi-house-fill"></i><span>Home</span></a>
                <a onclick="router_to_payment()"><i class="bi bi-receipt"></i><span>Payments</span></a>
            </div>
            <!-- FOOTER OVER -->

            <div class="page-content footer-clear">

                <div class="pt-3">
                    <div class="page-title d-flex">
                        <div class="align-self-center me-auto">
                            <p class="color-highlight">Tonspay</p>
                            <h1 class="color-theme">Cash gift</h1>
                        </div>
                        <div class="align-self-center ms-auto">




                        </div>
                    </div>
                </div>
                <div class="card card-style">
                    <div class="content mb-0">
                        <div class="tabs tabs-pill" id="tab-group-2">
                            <div class="tab-controls rounded-m p-1 overflow-visible">
                                <a class="font-13 rounded-s py-1 shadow-bg shadow-bg-s" data-bs-toggle="collapse" href="#tab-4" aria-expanded="true">Take</a>
                                <a class="font-13 rounded-s py-1 shadow-bg shadow-bg-s" data-bs-toggle="collapse" href="#tab-5" aria-expanded="false">Deposit</a>
                            </div>
                            <div class="mt-3"></div>

                            <div class="collapse show" id="tab-4" data-bs-parent="#tab-group-2">
                                <!-- giftS -->

                                <!-- Pending template -->
                                <div id="gift_disply_frame">
                                    <div style="display: none;" id="pending_gift_template">
                                        <a class="d-flex py-1 mb-2">
                                            <div class="align-self-center">
                                                <h5 class="pt-1 mb-n1"></h5>
                                                <p class="mb-0 font-11 opacity-70"></p>
                                            </div>
                                            <div class="align-self-center ms-auto text-end">
                                                <h4 class="pt-1 mb-n1"></h4>
                                                <p class="mb-0 font-11 color-red-dark">Cash Gift</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- giftS OVER -->
                            </div>

                            <div class="collapse" id="tab-5" data-bs-parent="#tab-group-2">
                                <div class="pt-3"></div>
                                <div class="form-custom form-label form-icon">
                                    <i class="bi bi-bank font-13"></i>
                                    <select class="form-select rounded-xs" id="c6">
                                    <option value="0" disabled="" selected="">TON</option>
                                    </select>
                                    <label for="c6" class="color-highlight">Select Payments</label>
                                </div>
                                <div class="pb-2"></div>
                                <!-- <div class="form-custom form-label form-icon">
                                    <i class="bi bi-building font-13"></i>
                                    <select class="form-select rounded-xs" id="c61">
<option value="0" disabled="" selected="">Select Provider</option>
<option value="0">Water Company</option>
<option value="1">Electric Company</option>
<option value="2">Company Account</option>
<option value="3">Custom - IBAN</option>
</select>
                                    <label for="c61" class="color-highlight form-label-always-">Select Provider</label>
                                </div> -->
                                <div class="pb-2"></div>
                                <div class="form-custom form-label form-icon">
                                    <i class="bi bi-code font-14"></i>
                                    <input type="text" class="form-control rounded-xs" id="deposit_amount" placeholder="Amounts to Deposit : 0.00" type="number" step="any">
                                    <label for="c31" class="color-highlight form-label-always-">Amount</label>
                                    <span>(required)</span>
                                </div>
                                <!-- <div class="pb-2"></div>
                                <div class="form-custom form-label form-icon">
                                    <i class="bi bi-currency-dollar font-14"></i>
                                    <input type="number" class="form-control rounded-xs" id="c32" placeholder="Bill Amount">
                                    <label for="c32" class="color-highlight form-label-always-">Bill Amount</label>
                                    <span>(required)</span>
                                </div>
                                <div class="pb-2"></div>
                                <div class="form-custom form-label form-icon">
                                    <i class="bi bi-at font-16"></i>
                                    <input type="email" class="form-control rounded-xs" id="c2" placeholder="Email gift To" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required="">
                                    <label for="c2" class="color-highlight form-label-always-">Email gift To</label>
                                    <span>(required)</span>
                                </div>
                                <div class="pb-3"></div> -->
                                <a href="#" onclick="gift_deposit()" class="btn btn-full gradient-green rounded-s shadow-bg shadow-bg-s mb-4">Deposit</a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- BUTTON PAY / CANCEL -->
                <div id="gift_to_pay_buttom" style="display: none;">
                    <div class="card card-style gradient-green rounded-s shadow-bg shadow-bg-xs mb-3">
                        <div class="content my-2">
                            <a href="#" onclick="gift_take()"  class="d-flex">
                                <div class="align-self-center">
                                    <h1 class="mb-0 font-14"><i class="bi bi-droplet color-white pe-3"></i></h1>
                                </div>
                                <div class="align-self-center">
                                    <h5 class="color-white font-600 mb-0 mt-0 font-14 line-height-s">
                                        Take it ! 
                                    </h5>
                                </div>
                                <div class="align-self-center ms-auto">
                                    <h5 class="color-white font-600 mb-0 mt-0 font-14 line-height-s">
                                        connet wallet 
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="card card-style gradient-blue rounded-s shadow-bg shadow-bg-xs mb-3">
                        <div class="content my-2">
                            <a href="#" onclick="gift_share()"  class="d-flex">
                                <div class="align-self-center">
                                    <h1 class="mb-0 font-14"><i class="bi bi-droplet color-white pe-3"></i></h1>
                                </div>
                                <div class="align-self-center">
                                    <h5 class="color-white font-600 mb-0 mt-0 font-14 line-height-s">
                                        Share it ! 
                                    </h5>
                                </div>
                                <div class="align-self-center ms-auto">
                                    <h5 class="color-white font-600 mb-0 mt-0 font-14 line-height-s">
                                        Share it to your friends .
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="card card-style gradient-gray rounded-s shadow-bg shadow-bg-xs mb-3">
                        <div class="content my-2">
                            <a href="#" onclick="gift_view()"  class="d-flex">
                                <div class="align-self-center">
                                    <h1 class="mb-0 font-14"><i class="bi bi-droplet color-white pe-3"></i></h1>
                                </div>
                                <div class="align-self-center">
                                    <h5 class="color-white font-600 mb-0 mt-0 font-14 line-height-s">
                                        View onchain
                                    </h5>
                                </div>
                                <div class="align-self-center ms-auto">
                                    <h5 class="color-white font-600 mb-0 mt-0 font-14 line-height-s">
                                        View this gift on blockchain scan .
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- <div id="gift_view_onchian" style="display: none;">

                </div> -->

            </div>




            <!-- <div id="menu-sidebar" data-menu-active="nav-pages" data-menu-load="menu-sidebar.html" class="offcanvas offcanvas-start offcanvas-detached rounded-m">
            </div>

            <div id="menu-highlights" data-menu-load="menu-highlights.html" class="offcanvas offcanvas-bottom offcanvas-detached rounded-m">
            </div>

            <div id="menu-notifications" data-menu-load="menu-notifications.html" class="offcanvas offcanvas-top offcanvas-detached rounded-m">
            </div> -->

            <!-- Unpaid gift display panel -->
            <div id="menu-bill" class="offcanvas offcanvas-bottom offcanvas-detached rounded-m" id="gift_to_pay_panel">

                <div class="menu-size" style="height:350px;" id="payment_method_box">
                    <div class="d-flex mx-3 mt-3 py-1">
                        <div class="align-self-center">
                            <h1 class="mb-0">Take it!</h1>
                        </div>
                        <div class="align-self-center ms-auto">
                            <a href="#" class="ps-4 shadow-0 me-n2" data-bs-dismiss="offcanvas">
                                <i class="bi bi-x color-red-dark font-26 line-height-xl"></i>
                            </a>
                        </div>
                    </div>
                    <div class="divider divider-margins mt-3 mb-2"></div>
                    <div class="content mt-0">
                        <div class="d-flex">
                            <h5 class="mb-0 font-600 font-14">Comments</h5>
                            <h5 class="mb-0 ms-auto font-600 font-14" id="gift_to_pay_panel_comment"></h5>
                        </div>
                        <div class="divider my-2"></div>
                        <div class="d-flex">
                            <h5 class="mb-0 font-600 font-14">Create Time</h5>
                            <h5 class="mb-0 ms-auto font-600 font-14" id="gift_to_pay_panel_time"></h5>
                        </div>
                        <div class="divider my-2"></div>
                        <div class="d-flex">
                            <h5 class="mb-0 font-600 font-14">gift ID</h5>
                            <h5 class="mb-0 ms-auto font-600 font-14" id="gift_to_pay_panel_id"></h5>
                        </div>
                        <div class="divider my-2"></div>
                        <div class="d-flex">
                            <h5 class="mb-0 font-600 font-14">Amount</h5>
                            <h5 class="mb-0 ms-auto font-700 font-14 color-blue-dark" id="gift_to_pay_amount"></h5>
                        </div>
                        <div class="divider my-2"></div>
                        <div class="d-flex">
                            <h5 class="mb-0 font-600 font-14">gift Status</h5>
                            <h5 class="mb-0 ms-auto font-700 font-14 color-red">Gift</h5>
                        </div>
                        <div class="divider my-2"></div>
                    </div>

                    <div class="content mt-0">
                        <div class="d-flex">
                            <h5 class="mb-0 font-600 font-14">Pay with : </h5>
                        </div>
                    </div>

                    
                    <!-- <a href="#" data-bs-toggle="offcanvas" data-bs-target="#payment-method"  id="gift_to_pay_confirm" class="mx-3 btn btn-full gradient-blue shadow-bg shadow-bg-s">Pay</a> -->
                </div>
            </div>

            <!-- Select payment method -->

            <div id="payment-method" class="offcanvas offcanvas-bottom offcanvas-detached rounded-m">
                <div class="menu-size" style="height:350px;" >
                    <div class="d-flex mx-3 mt-3 py-1">
                        <div class="align-self-center">
                            <h1 class="mb-0">Select wallet</h1>
                        </div>
                    </div>

                    <div href="#" class="content mt-0" id="payment_method_way">
                       
                    </div>
                    <a href="#" id="payment_method_way_confirm" class="mx-3 btn btn-full gradient-blue shadow-bg shadow-bg-s">pay</a>
                    <!-- <div class="content mt-0" id="payment_method_way" style="display: none;">
                        <a href="#" id="payment_method_way_confirm" class="mx-3 btn btn-full gradient-blue shadow-bg shadow-bg-s"  style="display: none;"></a>
                    </div> -->
                   
                </div>
            </div>
            <!-- Paided gift display panel -->
            <!-- <div id="menu-bill-paid" class="offcanvas offcanvas-bottom offcanvas-detached rounded-m">

                <div class="menu-size" style="height:350px;">
                    <div class="d-flex mx-3 mt-3 py-1">
                        <div class="align-self-center">
                            <h1 class="mb-0">Pay a Bill</h1>
                        </div>
                        <div class="align-self-center ms-auto">
                            <a href="#" class="ps-4 shadow-0 me-n2" data-bs-dismiss="offcanvas">
                                <i class="bi bi-x color-red-dark font-26 line-height-xl"></i>
                            </a>
                        </div>
                    </div>
                    <div class="divider divider-margins mt-3 mb-2"></div>
                    <div class="content mt-0">
                        <div class="d-flex">
                            <h5 class="mb-0 font-600 font-14">From</h5>
                            <h5 class="mb-0 ms-auto font-600 font-14">Cool-Co LTD</h5>
                        </div>
                        <div class="divider my-2"></div>
                        <div class="d-flex">
                            <h5 class="mb-0 font-600 font-14">Period</h5>
                            <h5 class="mb-0 ms-auto font-600 font-14">1st to 30th June</h5>
                        </div>
                        <div class="divider my-2"></div>
                        <div class="d-flex">
                            <h5 class="mb-0 font-600 font-14">gift</h5>
                            <h5 class="mb-0 ms-auto font-600 font-14">ID-315613</h5>
                        </div>
                        <div class="divider my-2"></div>
                        <div class="d-flex">
                            <h5 class="mb-0 font-600 font-14">Amount</h5>
                            <h5 class="mb-0 ms-auto font-600 font-14">$145 USD</h5>
                        </div>
                        <div class="divider my-2"></div>
                        <div class="d-flex">
                            <h5 class="mb-0 font-600 font-14">Bill Status</h5>
                            <h5 class="mb-0 ms-auto font-600 font-14 color-green-dark">Paid & Approved</h5>
                        </div>
                        <div class="divider my-2"></div>
                    </div>
                    <a href="#" data-bs-dismiss="offcanvas" class="mx-3 btn btn-full gradient-green shadow-bg shadow-bg-s">Paid - Thank you</a>
                </div>
            </div> -->
        </div>

        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/custom.js"></script>

        <script src="https://bundle.run/buffer@6.0.3"></script>
        <script type="text/javascript">
          window.Buffer = window.Buffer ?? buffer.Buffer;
        </script>
        <!-- Telegram -->
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <script src="https://unpkg.com/@tonconnect/sdk@latest/dist/tonconnect-sdk.min.js"></script>
        <script src="https://unpkg.com/tonweb@latest/dist/tonweb.js"></script>
        <script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
        <!-- main js  -->
        <!-- *JS base58 -->
        <script src="../static/js/utils/jsbn.js"></script>
        <script src="../static/js/utils/jsbn2.js"></script>
        <script src="../static/js/utils/base58.js"></script>

        <script src="../static/js/utils/router.js"></script>
        <script src="../static/js/utils/toolbox.js"></script>
        <script src="../static/js/utils/api.js"></script>
        <script src="../static/js/utils/storage.js"></script>
        <script src="../static/js/utils/tg.js"></script>
        <script src="../static/js/utils/deeplink.js"></script>
        <script src="../static/js/pages/index.js"></script>
        <script src="../static/js/pages/wallet.js"></script>
        <script src="../static/js/pages/gift.js"></script>
        <script src="../static/js/main.js"></script>

        <!-- Init Trigger -->
    </body>
</head>

</html>